<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
   
  </head>

  <body>
    <%- include("../partials/header") -%>
    
    <div class="container">
      <div class="mt-5 row">
        <% for ( let i = 0; i < data.length; i++ ) { %>
        <div class="card mt-1 col-4 text-right">
          <img class="card-img-top mb-5" src=<%= data[i].image %> alt="Card image cap">
          
          <div class="card-body">
            <h5 class="card-title"><%= data[i]["discription"].name %></h5>
            <p class="card-text">جنس: <%= data[i]["discription"].material %> </p>
            <p class="card-text">سایز: <%= data[i]["discription"].size %> </p>
            <p class="card-text">رنگ: <%= data[i]["discription"].colors %> </p>
            
           <form class="d-flex justify-content-between" action= <%= "/product" + i %> method="GET" >
            <input type="submit" id=<%= i %> class="btn-user-profile btn-lg btn-success" value="خرید">
            <p class="card-text"> <%= data[i]["discription"].price %> </p>
           </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
